﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Catering Services</title>
    @Styles.Render("~/Content/bootstrapcss")
    <script src="~/Scripts/modernizr-2.6.2.js">
    </script>
</head>
<body data-ng-app="classiccateringservice" ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="background-color: #D5E8F2 !important">
            <span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</span>
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-weight: 700; font-size: 25px;
                          color: #0f74aa">
                    Classic Catering Services
                    <span style="font-size: 10px">(V-{{Version}})</span>
                </a>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div id="main">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
            <a href="#"></a>
            <a href="/#/company">Company</a>
            <a href="/#/user">Users</a>
            <a href="/#/category">Catgories</a>
            <a href="/#/product">Products</a>
            <a href="/#/dailyschedule">Daily Schedule</a>
        </div>
        <div id="body" class="container">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fileuploadjs")
    @Scripts.Render("~/bundles/angularapp")
    @RenderSection("scripts", required: false)
</body>
</html>
