﻿<div ng-controller="CategoryAddController" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-hide="IsEditMode" class="label label-warning">New</span>
            <span ng-show="IsEditMode" class="label label-warning">Edit</span> New Category
        </h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="txtname" class="col-sm-2 control-label mandatory required">
                    Category Name
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="txtname" id="txtname"
                           ng-model="Category.Name" />
                </div>
            </div>

            <div class="form-group">
                <label for="txtquantity" class="col-sm-2 control-label mandatory required">
                    Start Time
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="txtquantity" id="txtquantity"
                           ng-model="Category.StartTime" />
                </div>
            </div>

            <div class="form-group">
                <label for="txtWeight" class="col-sm-2 control-label mandatory required">
                    End Time
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="Weight" id="Weight"
                           ng-model="Category.EndTime" />
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" name="btnAdd" value="Save" id="txtAdd" ng-click="Save()" />
                    <a class="btn btn-default" href="/#/category">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>
