﻿<div ng-controller="CategoryController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Manage Product <!--<span class="badge">{{totalItems}}</span>-->
                <a href="#/category/new"
                   class="btn btn-warning btn-xs clearfix pull-right">
                    NEW CATEGORY
                </a>
            </h3>
        </div>

        <div class="panel-body">
            <table class="table table-responsive table-striped  table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th width="5%">Sr.No.</th>
                        <th width="40%">Name</th>
                        <th width="20%">Start Time</th>
                        <th width="20%">End Time</th>
                        <th width="20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in Categories">
                        <td width="5%" class="text-center">{{$index+1}}</td>
                        <td width="40%">{{category.Name}}</td>
                        <td width="20%">{{category.StartTime}}</td>
                        <td width="20%">{{category.EndTime}}</td>
                        <td width="20%">
                            <a href="/#/category/{{category.Id}}" class="btn btn-primary btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-xs" ng-click="Delete(category.Id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>