﻿<div class="panel panel-primary" ng-controller="UserAddController">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-hide="IsEditMode" class="label label-warning">New</span>
            <span ng-show="IsEditMode" class="label label-warning">Edit</span> User Details
        </h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="ddlRole" class="col-sm-2 control-label required">Role</label>
                <div class="col-sm-4 col-md-2" name="Role">
                    <select class="form-control" id="ddlRole"
                            name="ddlRole" ng-model="User.Role" ng-selected="User.Role">
                        <option value="Admin" ng-selected="User.Role=='Admin'">Admin</option>
                        <option value="Vendor" ng-selected="User.Role=='Vendor'">Vendor</option>
                        <option value="User" ng-selected="User.Role=='User'">User</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="txtCompany" class="col-sm-2 control-label required">
                    Company
                </label>
                <div class="col-sm-4 col-md-2" name="Company">
                    <select class="form-control" id="txtCompany"
                            name="txtCompany" ng-model="User.CompanyId">
                        <option ng-repeat="company in Companies" value="{{company.Id}}" ng-selected="company.Id==User.companyId">
                            {{company.Name}} - {{company.Location}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="txtSalutation" class="col-sm-2 control-label required">Salutation</label>
                <div class="col-sm-2" name="txtSalutation">
                    <select class="form-control" id="txtSalutation" name="txtSalutation" ng-model="User.Salutation">
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Miss.">Miss.</option>
                    </select>
                </div>

                <label for="txtFirstName" class="col-sm-2 control-label required">First Name</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="txtFirstName" id="txtFirstName" ng-model="User.FirstName" />
                </div>

                <label for="txtlastName" class="col-sm-2 control-label required">Last Name</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="txtlastName" id="txtlastName" ng-model="User.LastName" />
                </div>
            </div>

            <div class="form-group">
                <label for="rdbGender" class="col-md-1 col-md-2 control-label required">Gender</label>
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" name="rdbGender" id="rdbMale" value="Male"
                               ng-model="User.Gender"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rdbGender" id="rdbFemale" value="Female"
                               ng-model="User.Gender"> Female
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="txtContact" class="col-sm-2 control-label required">Contact Number</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="txtContact" id="txtContact" ng-model="User.ContactNumber" />
                </div>

                <label for="txtEmail" class="col-sm-2 control-label required">Email</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="txtEmail" id="txtEmail" ng-model="User.EmailAddress" />
                </div>
            </div>


            <div class="form-group">
                <label for="txtAdv" class="col-sm-2 control-label required">Advanced Amount</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="txtAdv" id="txtAdv" ng-model="User.AdvanceAmount" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" name="btnAdd" value="Save" id="txtAdd" ng-click="Save()" />
                    <a class="btn btn-default" href="/#/user">Close</a>
                </div>
            </div>

        </form>
    </div>
</div>
