﻿<div ng-controller="UserController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Manage User 
                <a href="#/user/new"
                   class="btn btn-warning btn-xs clearfix pull-right">
                    NEW USER
                </a>
            </h3>
        </div>

        <div class="panel-body">
                <table class="table table-responsive table-striped  table-bordered">
                    <thead class="bg-success">
                        <tr>
                            <th style="width: 50px">Sr.No.</th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Contact Number</th>
                            <th>Email Id</th>
                            <th>User Name</th>
                            <th style="width: 150px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in Users">
                            <td class="text-center">{{$index+1}}</td>
                            <td>{{user.Role}}</td>
                            <td>{{user.Salutation +" " + user.FirstName +" "+ user.LastName | uppercase}}</td>
                            <td>{{user.CompanyName}}</td>
                            <td>{{user.ContactNumber}}</td>
                            <td>{{user.EmailAddress}}</td>
                            <td>{{user.UserName}}</td>
                            <td>
                                <a href="/#/user/{{user.Id}}" class="btn btn-primary btn-xs">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-xs" ng-click="Delete(user.Id)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>