﻿@using ClassicCateringServiceApp.Controllers
@model ClassicCateringServiceApp.Models.LoginViewModel

      <section id="loginForm">
          @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.AntiForgeryToken()
      <br /><br />
      <div class="col-md-offset-4 col-md-6">
          <span class="LoginSrcLoginTxt">Login to Classic Catering Service</span>
          <br /><br />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
              @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
              <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
              </div>
          </div>
          <div class="form-group">
              @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
              <div class="col-md-6">
                  @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <div class="checkbox">
                      @Html.CheckBoxFor(m => m.RememberMe)
                      @Html.LabelFor(m => m.RememberMe)
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Login" class="btn btn-primary" />
              </div>
          </div>
      </div>
}
      </section>