﻿<div ng-controller="ProductController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Manage Product <!--<span class="badge">{{totalItems}}</span>-->
                <a href="#/product/new"
                   class="btn btn-warning btn-xs clearfix pull-right">
                    NEW PRODUCT
                </a>
            </h3>
        </div>

        <div class="panel-body">
            <table class="table table-responsive table-striped  table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th width="5%">Sr.No.</th>
                        <th width="33%">Name</th>
                        <th width="15%">Weight</th>
                        <th width="15%">Quantity</th>
                        <th width="22%">Rate</th>
                        <th width="10%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in Products">
                        <td width="5%" class="text-center">{{$index+1}}</td>
                        <td width="33%">{{product.Name}}</td>
                        <td width="15%">{{product.Weight}}</td>
                        <td width="15%">{{product.Quantity}}</td>
                        <td width="22%">{{product.Rate}}</td>
                        <td width="10%">
                            <a href="/#/product/{{product.Id}}" class="btn btn-primary btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-xs" ng-click="Delete(product.Id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>