﻿<div ng-controller="CompanyAddController" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-hide="IsEditMode" class="label label-warning">New</span>
            <span ng-show="IsEditMode" class="label label-warning">Edit</span> New Company 
        </h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="txtType" class="col-sm-2 control-label mandatory required">
                    Company Name
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="txtType" id="txtType"
                           ng-model="Company.Name" />
                </div>
            </div>

            <div class="form-group">
                <label for="txtType" class="col-sm-2 control-label mandatory required">
                    Location
                </label>
                <div class="col-sm-4">
                    <input class="form-control" name="txtType" type="text" id="txtType"
                           ng-model="Company.Location" />
                </div>

                <label for="txtType" class="col-sm-2 control-label mandatory required">
                    Address
                </label>
                <div class="col-sm-4">
                    <input class="form-control" name="txtType" type="text" id="txtType"
                           ng-model="Company.Address" />
                </div>
            </div>

            <div class="form-group">
              
            </div>

            <div class="form-group">
                <label for="txtType" class="col-sm-2 control-label mandatory required">
                    Contact
                </label>
                <div class="col-sm-4">
                    <input class="form-control" name="txtType" type="text" id="txtType"
                           ng-model="Company.ContactNumber" />
                </div>

                <label for="txtType" class="col-sm-2 control-label mandatory required">
                    Email
                </label>
                <div class="col-sm-4">
                    <input class="form-control" name="txtType" type="text" id="txtType"
                           ng-model="Company.EmailId" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" name="btnAdd" value="Save" id="txtAdd" ng-click="Save()" />
                    <a class="btn btn-default" href="/#/company">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>
