﻿<div ng-controller="CompanyController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Manage Company <!--<span class="badge">{{totalItems}}</span>-->
                <a href="#/company/new"
                   class="btn btn-warning btn-xs clearfix pull-right">
                    NEW COMPANY
                </a>
            </h3>
        </div>

        <div class="panel-body">
            <table class="table table-responsive table-striped  table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th width="5%">Sr.No.</th>
                        <th width="33%">Name</th>
                        <th width="15%">Location</th>
                        <th width="15%">Contact</th>
                        <th width="22%">Email</th>
                        <th width="10%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="company in Companies">
                        <td width="5%" class="text-center">{{$index+1}}</td>
                        <td width="33%">{{company.Name}}</td>
                        <td width="15%">{{company.Location}}</td>
                        <td width="15%">{{company.ContactNumber}}</td>
                        <td width="22%">{{company.EmailId}}</td>
                        <td width="10%">
                            <a href="/#/company/{{company.Id}}" class="btn btn-primary btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-xs" ng-click="Delete(company.Id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>