﻿#body {
  background-color: white;
}
.required:after {
     content:" *";
     color: red;
}
.tabletd {
    font-weight: 700;
    font-size: 15px;
}
.LoginSrcLoginTxt {
    color: #2f58a4;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-bottom: 1px solid #cdddec;
    font-weight: bold;
    line-height: 33px;
    text-align: left;
    margin-left: 4%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D5E8F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        /*color: #818181;*/
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        /*top: 0;*/
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


 hr {
    
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}